<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YunakQuize Layout</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>



    <script type="text/javascript">


    </script>
</head>
<body class="container-fluid">
<div id="outer-wrapper" class="container">
    <div id="inner-wrapper" class="container">
        <header class="row">
            <div class="container">
                <div class="text-right">
                    <ul class="list-inline"><li><strong>Ви увійшли як:</strong></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Username <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Мій профіль</a></li>
                                <li><a href="mytest.html">Мої тести</a></li>
                            </ul>
                        </li>
                        <li><strong>Група:</strong></li><li>User</li></ul>
                </div>
            </div>
            <div id="header-container" class="col-lg-10 col-lg-offset-1">
                <a href="#"><img src="pic/logo.png" alt="YunakQuize"></a>
                <nav id="header-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Гловна</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Тести <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Обрати тест</a></li>
                                <li><a href="#">Категорії</a></li>
                                <li><a href="Statistic.html">Статистика</a></li>
                                <li><a href="edit.html">Додати тест</a></li>

                            </ul>
                        </li>


                        <li><a href="#">Про нас</a></li>
                        <li><a href="#">Контакти</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="container-fluid">
                <h3 class="text-center">Додати новий тест</h3>

                <div class="col-lg-11 col-md-11 col-xs-11 col-lg-offset-1 col-md-offset-1 col-xs-offset-1">
                    <div class="row">
                    <br>

                       <div class="col-lg-4 col-md-4">
                           <div><label class="text-center fieldfree">Назва тесту</label><input class="marg" placeholder="Назва тесту" type="text"></div>
                           <select class="form-control fieldfree">
                           <option>Обрати категорію</option>
                           <option>Категорія 1</option>
                           <option>Категорія 2</option>
                           <option>Категорія 3</option>
                           <option>Категорія 4</option>
                           <option>Категорія 5</option>
                       </select>
                           <select class="form-control fieldfree">
                           <option>Обрати підкатегорію</option>
                           <option>Підкатегорія 1</option>
                           <option>Підкатегорія 2</option>
                           <option>Підкатегорія 3</option>
                           <option>Підкатегорія 4</option>
                       </select>

                       </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-11 col-md-11">
                            <div class="form-group"><label> Питання #1 </label><input class="marg" type="text" placeholder="Питання"><button class="btn btn-danger btn-xs marg">delete</button></div>
                        </div>

                        <div class="col-lg-10 col-md-10 colom col-lg-offset-1 col-md-offset-1">

                            <div class="form-group"><label class="fieldfree"> Відповідь 1 </label><input class="marg" type="text" placeholder="Відповідь"><button class="btn btn-danger btn-xs marg">delete</button></div>
                            <div class="form-group"><label class="fieldfree"> Відповідь 2 </label><input class="marg" type="text" placeholder="Відповідь"><button class="btn btn-danger btn-xs marg">delete</button></div>
                            <div class="form-group"><label class="fieldfree"> Відповідь 3 </label><input class="marg" type="text" placeholder="Відповідь"><button class="btn btn-success btn-xs marg">add</button></div>

                        </div>

                        <button type="button" class="btn btn-success">Додати питання</button>

                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 text-center fieldfree">
                            <button type="button" class="btn btn-primary">Відправити тест на перевірку</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</div>

<footer class="container">
    <div id="footer-container">
        <nav id="footer-menu">
            <ul>
                <li><a href="#">Тести</a> &nbsp|</li>
                <li><a href="#">Про нас</a>&nbsp|</li>
                <li><a href="#">Контакти</a></li>
            </ul>
        </nav>
        <p>Copyright@ 2014 <b>IF-044</b></p>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>