<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YunakQuize Layout</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript">


    </script>
</head>
<body class="container-fluid">
<div id="outer-wrapper" class="container">
    <div id="inner-wrapper" class="container">
        <header class="row">
            <div class="container">
                <div class="text-right mar">
                    <ul class="list-inline"><li><strong>Ви увійшли як:</strong></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Username <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Мій профіль</a></li>
                                <li><a href="mytest.html">Мої тести</a></li>
                            </ul>
                        </li>
                        <li><strong>Група:</strong></li><li>User</li></ul>
                </div>
            </div>
            <div id="header-container" class="col-lg-10 col-lg-offset-1">
                <a href="#"><img src="pic/logo.png" alt="YunakQuize"></a>
                <nav id="header-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Гловна</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Тести <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Обрати тест</a></li>
                                <li><a href="#">Категорії</a></li>
                                <li><a href="Statistic.html">Статистика</a></li>
                                <li><a href="edit.html">Додати тест</a></li>

                            </ul>
                        </li>


                        <li><a href="#">Про нас</a></li>
                        <li><a href="#">Контакти</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <mai
            <div class="container-fluid">
                <div class="col-lg-11 col-md-11 col-lg-offset-1 col-md-offset-1">
                    <h3 class="text-center">Додати новий тест</h3>
                    <br>
                        <form class="form-horizontal" role="form">
                        <div class="form-group">
                        <label class="col-lg-2 col-md-2 "> Назва тесту </label><input class="col-lg-7 col-md-7 " type="text">                    
                        </div>
                        <div class="form-group">
                        <label class="col-lg-2 col-md-2 "> Категорія </label><input class="col-lg-7 col-md-7 " type="text">                                      </div>  
                            <div class="form-group">
                        <label class="col-lg-2 col-md-2 "> Підкатегорія </label><input class="col-lg-7 col-md-7 " type="text">                                      </div>
                            
             
                        

                    
                    <hr class="col-lg-9 col-md-9 ">        
                            <br><br><br>
                        <div class="form-group">
                        <label class="col-lg-2 col-md-2 "> Питання #1 </label><input class="col-lg-7 col-md-7 " type="text">                                       </div>
                       <hr class="col-lg-9 col-md-9 ">        
                            <br><br><br>
                            <div class="form-group">
                        <label class="col-lg-2 col-md-2 "> Відповідь 1 </label><input class="col-lg-6 col-md-6 " type="text">
                            <button  style="margin-left: 20px;" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button> </div>
                            <div class="form-group">
                        <label class="col-lg-2 col-md-2 "> Відповідь 2 </label><input class="col-lg-6 col-md-6 " type="text">                                      <button  style="margin-left: 20px;" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>  </div>
                            <div class="form-group">
                        <label class="col-lg-2 col-md-2 "> Відповідь 3 </label><input class="col-lg-6 col-md-6 " type="text">                                      <button  style="margin-left: 20px;" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>  </div>
                            <div class="form-group">
                            <button type="button" class="btn btn-success">Додати відповідь</button>
                            <button type="button" class="btn btn-success">Додати питання</button>
                            <button type="button" class="btn btn-primary">Відправити тест на перевірку</button>
                                </div>                  
                        
                                
                    </form>
                </div>
                     
            </div>

        </main>
    </div>
</div>
<footer class="container">
    <div id="footer-container">
        <nav id="footer-menu">
            <ul>
                <li><a href="#">Тести</a> &nbsp|</li>
                <li><a href="#">Про нас</a>&nbsp|</li>
                <li><a href="#">Контакти</a></li>
            </ul>
        </nav>
        <p>Copyright@ 2014 <b>IF-044</b></p>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>