<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YunakQuize Layout</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript">


    </script>
</head>
<body class="container-fluid">
<div id="outer-wrapper" class="container">
    <div id="inner-wrapper" class="container">
        <header class="row">
            <div class="container">
                <div class="text-right mar">
                    <ul class="list-inline"><li><strong>Ви увійшли як:</strong></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Username <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Мій профіль</a></li>
                                <li><a href="mytest.html">Мої тести</a></li>
                            </ul>
                        </li>
                        <li><strong>Група:</strong></li><li>User</li></ul>
                </div>
            </div>
            <div id="header-container" class="col-lg-10 col-lg-offset-1">
                <a href="#"><img src="pic/logo.png" alt="YunakQuize"></a>
                <nav id="header-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Гловна</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Тести <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Обрати тест</a></li>
                                <li><a href="#">Категорії</a></li>
                                <li><a href="Statistic.html">Статистика</a></li>
                                <li><a href="edit.html">Додати тест</a></li>

                            </ul>
                        </li>


                        <li><a href="#">Про нас</a></li>
                        <li><a href="#">Контакти</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class=" input-group col-lg-3 col-lg-offset-8">
                        <input type="text" class="form-control" placeholder="Пошук">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button">пошук</button>
                        </span>

                    </div>
                </div>
                <div class="row">
                    <div class="text-center"><h4><a href="#">Тест 132 </a><strong> додав: </strong><a href="#"> Юзер 1</a></h4></div>

                </div>
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <a href="#"><img class="img-responsive" src="pic/diagram.jpg" alt="YunakQuize"></a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer class="container">
    <div id="footer-container">
        <nav id="footer-menu">
            <ul>
                <li><a href="#">Тести</a> &nbsp|</li>
                <li><a href="#">Про нас</a>&nbsp|</li>
                <li><a href="#">Контакти</a></li>
            </ul>
        </nav>
        <p>Copyright@ 2014 <b>IF-044</b></p>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>