<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YunakQuize Layout</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript">


    </script>
</head>
<body class="container-fluid">
<div id="outer-wrapper" class="container">
    <div id="inner-wrapper" class="container">
        <header class="row">
            <div class="container">
                <div class="text-right mar">
                    <ul class="list-inline"><li><strong>Ви увійшли як:</strong></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Username <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Мій профіль</a></li>
                                <li><a href="mytest.html">Мої тести</a></li>
                            </ul>
                        </li>
                        <li><strong>Група:</strong></li><li>User</li></ul>
                </div>
            </div>
            <div id="header-container" class="col-lg-10 col-lg-offset-1">
                <a href="#"><img src="pic/logo.png" alt="YunakQuize"></a>
                <nav id="header-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Гловна</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Тести <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Обрати тест</a></li>
                                <li><a href="#">Категорії</a></li>
                                <li><a href="Statistic.html">Статистика</a></li>
                                <li><a href="edit.html">Додати тест</a></li>

                            </ul>
                        </li>


                        <li><a href="#">Про нас</a></li>
                        <li><a href="#">Контакти</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="container-fluid">
                <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                    <table class="table">
                        <thead><th rowspan="2">#</th><th rowspan="2">Тест</th><th rowspan="2">Категорія</th><th rowspan="2">Підкатегорія</th><th colspan="2" class="text-center">К-сть проходжень</th><th colspan="2" class="text-center ">Топ результат</th><th rowspan="2">Загальний результат</th></thead>
                        <tr>                                                                                                  <td></td>  <td></td>      <td></td><td></td>   <td class="text-center"><b>Гості</b></td><td class="text-center"><b>Користувачі</b></td><td class="text-center"><b>Ім'я</b></td><td class="text-center"><b>Результат </b></td></tr>
                        <tr><td>1</td><td><a href="#">Україна</a></td><td>Країна </td><td>Країна</td><td class="text-center"> 11 </td><td class="text-center"> 12 </td>  <td class="text-center"> 13 </td> <td class="text-center"> 14 </td> <td class="text-center"> 15/20 </td></tr>
                        <tr><td>2</td><td><a href="#">Київ</a></td><td>Країна</td><td>Міста</td><td class="text-center"> 11 </td><td class="text-center"> 12 </td>  <td class="text-center"> 13 </td> <td class="text-center"> 14 </td> <td class="text-center"> 15/20 </td></tr>
                        <tr><td>3</td><td><a href="#">Ніагара</a></td><td>Природа</td><td>Водоспади</td><td class="text-center"> 11 </td><td class="text-center"> 12 </td>  <td class="text-center"> 13 </td> <td class="text-center"> 14 </td> <td class="text-center"> 15/20 </td></tr>
                        <tr><td>4</td><td><a href="#">Сахара</a></td><td>Природа</td><td>Пустелі</td><td class="text-center"> 11 </td><td class="text-center"> 12 </td>  <td class="text-center"> 13 </td> <td class="text-center"> 14 </td> <td class="text-center"> 15/20 </td></tr>
                        <tr><td>5</td><td><a href="#">Хокей</a></td><td>Спорт</td><td>Хокей</td><td class="text-center"> 11 </td><td class="text-center"> 12 </td>  <td class="text-center"> 13 </td> <td class="text-center"> 14 </td> <td class="text-center"> 15/20 </td></tr>
                        <tr><td>6</td><td><a href="#">Футбол</a></td><td>Спорт</td><td>Правила</td><td class="text-center"> 11 </td><td class="text-center"> 12 </td>  <td class="text-center"> 13 </td> <td class="text-center"> 14 </td> <td class="text-center"> 15/20 </td></tr>
                        <tr><td>7</td><td><a href="#">Наполеон</a></td><td>Історія</td><td>Історія Франції</td><td class="text-center"> 11 </td><td class="text-center"> 12 </td>  <td class="text-center"> 13 </td> <td class="text-center"> 14 </td> <td class="text-center"> 15/20 </td></tr>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
<footer class="container">
    <div id="footer-container">
        <nav id="footer-menu">
            <ul>
                <li><a href="#">Тести</a> &nbsp|</li>
                <li><a href="#">Про нас</a>&nbsp|</li>
                <li><a href="#">Контакти</a></li>
            </ul>
        </nav>
        <p>Copyright@ 2014 <b>IF-044</b></p>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>