body {
	background-color: #eae8e8
}

#wrapper {
	margin-top: 50px;
	background-color: white;
	box-shadow: 0 0 10px #c0bfbf; 

}


#header-container {
	height: 100px;
	padding-left: 0;
	border-bottom:1px solid #eae8e8;
}

#header-container a {
	display: inline-block;
} 

#header-menu {
	display: inline-block;
	margin-left: 15%;
}

#header-menu>ul, #footer-menu>ul {
	list-style: none;
}

#header-menu>ul>li {
	display: inline-block;
	margin-right: 60px; 
}

#header-menu>ul>li>a {
	font-size: 1.5em;
	color: black;
}

main {
	margin: 20px 0;
	background-color: white;
	text-align: center;

}

#footer-container {
    width: 200px;
    margin: 20px auto;
}

#footer-menu {
    display: block;
}

#footer-menu>ul {
	padding-left: 25px;
	margin-bottom: 2px;
}

#footer-menu>ul>li {
	display: inline-block;
	margin-right: 5px;
}

#footer-menu>ul>li>a {
	font-size: 0.8em;
}

#footer-container>p {
	font-size: 0.8em;
	text-align: center;
}

.langflag {
    width:20px;
    height: 12px;
}

.test_image {
    width:101px;
    float:left;
    margin:5px 5px 5px 10px;
}

.test_h3 {
    text-align: left;
}

.test_p {
    text-align: left;
}

.test_a {
    text-align: left;
}

#quizquestions {
    clear: both;
    margin: 20px 10px;
}

.questionnumber {
    float: left;
    left: -10px;
    margin-top: 20px;
    position: relative;
}

.questionblock {
    border-top: 1px solid #D3773D;
    clear: both;
}

.thisanswer {
    display: block;
    margin-bottom: 4px;
}

.questionsubblock {
    float: left;
    margin-top: 20px;
}

.questimg {
    float: left;
    margin: 0px 10px;
    vertical-align: text-top;
}

.testnumber {
    float: left;
}

.edittest{
    margin: 10px 10px 10px 40px;
}

.questiontext {
    margin: 0 0 20px 10px;
}