<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UtoU</title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300&subset=cyrillic' rel='stylesheet' type='text/css'>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>
<body class="container-fluid">
  <div id="outer-wrapper" class="container">
    <div id="inner-wrapper" class="container">
      <header class="row">
        <div id="header-container" class="col-sm-10 col-sm-offset-1">
          <a href="#">
            <img src="pic/logo.png" alt="YunakQuize"></a>
          <nav id="header-menu">
            <ul >
              <li>
                <a href="#">Тести</a>
              </li>
              <li>
                <a href="#">Про нас</a>
              </li>
              <li>
                <a href="#">Контакти</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <main class="container-fluid">
      <div class="row">
        <div class="head1">Профіль користувача</div>
      </div>
        <div class="row">
          <div class="ava">
            <img src="http://fakeimg.pl/200x200/00CED1/FFF/?text=Avatar">
            </div>
           
            <div>
          <div id="field" >
            <span id="field1">Ім'я та прізвище:</span>
            <span id="field2">Сергій Рязанов</span>
          </div>
          <div id="field" >
            <span id="field1">Станиця:</span>
            <span id="field2">Івано-Франківськ</span>
          </div>
          <div id="field" >
            <span id="field1">Курінь:</span>
            <span id="field2">Бурлаки</span>
          </div>
        </div>
          <div>
          <div id="field" >
            <span id="field1">Статус в системі:</span>
            <span id="field2">Початківець</span>
          </div>
          <div id="field" >
            <span id="field1">Ступінь:</span>
            <span id="field2">Пластун-прихильник</span>
          </div>
          <div id="field" >
            <span id="field1">Гурток:</span>
            <span id="field2">Лілеї</span>
          </div><br>
          </div>
          <div >
          <div id="field" >
            <span id="field1">Останні тести:</span>
            <span id="field2"><a href="#">Велосипед</a>;&nbsp<a href="#">Іван Богун</a></span>
          </div>
           </div>
</div>
        </div>
      </main>
    </div>
 <footer class="container">
    <div id="footer-container">
      <nav id="footer-menu">
        <ul>
          <li>
            <a href="#">Тести</a>
            &nbsp|
          </li>
          <li>
            <a href="#">Про нас</a>
            &nbsp|
          </li>
          <li>
            <a href="#">Контакти</a>
          </li>
        </ul>
      </nav>
      <p>
        Copyright@ 2014 <b>IF-044</b>
      </p>
    </div>
  </footer>
</body>
</html>