#faq {
	margin-left: -15px;
	padding: 0 100px;
}
.administration_panel{
	min-width: 1010px;
}

.administration_panel .question-answer {
	text-align: left;
	margin-bottom: 30px;
	padding: 7px;
	border: 1px solid #eae8e8;
	border-radius: 7px;
	background-color: #f1f0f0;
}

.administration_panel #contentTable {
	margin-bottom: 50px;
}
.administration_panel .user{
	font-weight:bold;
}
.administration_panel .send{
	opacity: 0.7;
}
.administration_panel .sendbutton{
	margin-top: 10px;
}
.administration_panel .user{
	color: #48CB48;
	border-radius: 2px;
	font-family: Arial;
}
.administration_panel .text{
	padding: 5px;
}
.administration_panel textarea{
	resize:none;
}
.administration_panel .moderator{
	color:#F0616B;
}
.administration_panel .data{
	margin: 40px 0px 40px 0px;
	opacity: 0.9;
}
.administration_panel .localization{
	margin:40px 0px 40px 0px;
	opacity: 0.9;
}
.administration_panel .kategorybutton{
	opacity: 0.9;
}
.administration_panel .panel{
	border-left:none;
	border-right:none; 
	border-bottom: none;
	border-radius: 4px 4px 0px 0px;
}
.administration_panel .none_border{
	border-bottom: none;
}
	.administration_panel .panel-heading{
		opacity: 0.9;
	}
.administration_panel button{
	opacity: 0.9;
}
.administration_panel .language{
	margin: 100px 0px 50px 0px;
	font-weight: bold;
	font-size: 16px;
	opacity: 0.9;
	left: 33%;
}
.administration_panel .language select{
	border: none;
}
.administration_panel .control{
	border: none;
}
.administration_panel .addcategory{
	float: right;
}
.administration_panel .table td button{
	float: right;
	margin-left: 2px;

}
.administration_panel #p1 .control option{
	font-weight: bold;
}
.administration_panel .paneltitle{
	font-weight: bold;
}
.administration_panel #modal-edit-form{
	width: 500px;
}
.administration_panel #modal-edit-form2{
	width: 500px;
}
	.administration_panel #input_of_cotegory,.administration_panel  #choose_main_category,.administration_panel  #name_of_cotegory{
		margin: 0px 0px 5px 0px;  
	}
.administration_panel .edit-button{
	margin: 0px 0px 30px 70px;
}
	.administration_panel .buttonedit{
		float: left;
	}
	.administration_panel .buttonreedit{
		float: left;
	}
.administration_panel .control-label{
	padding-top: 10px;
}
.administration_panel .nameofuser{
	margin-right: 12px 0px 0px 1px;
}
.administration_panel .modal-body{
	padding: 0px;
}
.administration_panel #name_of_user{
	padding-top: 14px;
	color: #48CB48;
}
.administration_panel .editcaptcha{
	margin-top: 70px;
}
.administration_panel .enternumber{
	padding: 0px;
}
.administration_panel .buttons_delete{
	margin-top: 30px;
}
.administration_panel .buttons_edit{
	margin: 70px 0px 20px 80px;
}
.administration_panel #name_of_user_delete{
	font-weight: bold;
	padding: 7px 0px 0px 80px;
	color: #48CB48;
}
 .administration_panel #main_status_of_user{
 	font-weight: bold;
	color: #48CB48;
 }
 .administration_panel #name_of_user_banned{
 	font-weight: bold;
	color: #48CB48;
	padding: 7px 0px 0px 100px;
 }
 .administration_panel #main_name_of_category{
 	font-weight: bold;
 	color:  #48CB48;
 	padding: 0px 0px 0px 0px;
 	float: right;
 }
  .administration_panel #newecategory{
  	text-align: left;
 	font-weight: bold;
 	color:  #48CB48;
 	float: right;
 	padding: 0px 0px 0px 0px;
 }
 .administration_panel .delete_captcha{
 	padding: 0px;
 }
 .administration_panel .exampleInputFile{
	margin: 0px -40px 0px 0px;

 }
 
.administration_panel  .button-categoty{
 	margin-top: 30px;
 }
.administration_panel .nameofsort{
	font-weight: bold;
}
.administration_panel .text-center{
	padding: 7px;
}
.administration_panel .control{
	font-weight: bold;
}
.administration_panel .control select{
	font-weight: bold;
}
.administration_panel .fadepanel1{
	padding: 5px;
}
.administration_panel .form-control{
	font-weight: bold;
}
.administration_panel #usersTable tr:hover,.administration_panel #blacklist tr:hover,.administration_panel #administrationlist tr:hover,.administration_panel #usersCategories tr:hover,.administration_panel #usersCategories div:hover{
	background: #F5F5F5;
}
.administration_panel .category_table_form {
	padding: 5px;
}
.administration_panel .middle{
	margin-left: 40px;
}
.administration_panel .addcategory{
	margin-right: 9px;

}
.administration_panel .category_table_form button{
	padding-left: 5px;
}
.administration_panel .namecategory{
	font-weight: bold;
}

.administration_panel .fadepanel3{
	height: 44px;
}
/*-----------------------------*/

.administration_panel .workzone iframe, textarea{
	width: 920px;
	margin-top: 40px;
}
/* .workzone textarea{
 	width: 920px;
 }*/
 .administration_panel .toolbar{
 	display: none; /* що це таке?*/
 }
 .administration_panel .tabsbar{
 	margin-top: 70px;
 }
 .administration_panel .tabsbar button{
 	margin-left: 70px;
 }
.administration_panel  .faqBox{
 	margin-top: 50px;
 }
 	.administration_panel .faqBox div{
 		margin-top: 20px;
 	}
 	 	.administration_panel .faqBox div h4{
 		margin-top: 40px;
 		}
 	.administration_panel .faqBox button{
 		margin: 10px 10px 50px 10px;
		
 	}
 	.administration_panel .faqBox div p {
 		text-align: left;
 		border-bottom: 1px solid #C0C0C0;
 	}

 	.administration_panel .faqBox textarea {
 		resize: vertical;
 	}

 	.administration_panel .faqBox .btn-danger {
		margin: 10px 10px 50px 50%;
 	}

 	.administration_panel .faqBox input {
 		width: 40%;
 	}

.administration_panel .create-button{
 	margin: 20px 0px 0px 60px;
 }
 	.administration_panel .pagination{
 		position: absolute;
		width: 102px;
		left: 47%;
 	}
.administration_panel .modal{
	margin-right: -18px;
}
.admin_panelin{
	overflow-y:hidden;
}