#faq {
	margin-left: -15px;
	padding: 0 100px;
}
.question-answer {
	text-align: left;
	margin-bottom: 30px;
	padding: 7px;
	border: 1px solid #eae8e8;
	border-radius: 7px;
	background-color: #f1f0f0;
}

#contentTable {
	margin-bottom: 50px;
}
.user{
	font-weight:bold;
}
.send{
	opacity: 0.7;
}
.sendbutton{
	margin-top: 10px;
}
.user{
	color: #4FDC8C;
	border-radius: 2px;
	font-family: Arial;
}
.admin-panel{
	left: 50px;
}
.text{
	padding: 5px;
}
textarea{
	resize:none;
}
.moderator{
	color:#F0616B;
}
.data{
	margin: 40px 0px 40px 0px;
	opacity: 0.9;
}
.localization{
	margin:40px 0px 40px 0px;
	opacity: 0.9;
}
.kategorybutton{
	opacity: 0.9;
}
.panel{
	border-bottom: none;
	border-radius: 4px 4px 0px 0px;
}
	.panel-heading{
		opacity: 0.9;
	}
button{
	opacity: 0.9;
}
.language{
	margin: 100px 0px 50px 0px;
	font-weight: bold;
	font-size: 20px;
	font-family: Georgia, serif;
	opacity: 0.9;
}
.language select{
	border: none;
}
.control{
	border: none;
}
.addcategory{
	float: right;
}
.table td button{
	float: right;
	margin-left: 2px;
}
#p1 .control option{
	font-weight: bold;
}
.paneltitle{
	font-weight: bold;
}
#modal-edit-form{
	width: 500px;
}
#modal-edit-form2{
	width: 500px;
}
	#input_of_cotegory, #choose_main_category, #name_of_cotegory{
		margin: 0px 0px 5px 0px;  
	}
.edit-button{
	margin: 0px 0px 30px 70px;
}
	.buttonedit{
		float: left;
	}
	.buttonreedit{
		float: left;
	}
.control-label{
	padding-top: 10px;
}
.nameofuser{
	margin-right: 12px 0px 0px 1px;
}
.modal-body{
	padding: 0px;
}
#name_of_user{
	padding-top: 14px;
	color: #5CCA5C;
}
.editcaptcha{
	margin-top: 70px;
}
.enternumber{
	padding: 0px;
}
.buttons_delete{
	margin-top: 30px;
}
.buttons_edit{
	margin: 70px 0px 20px 80px;
}
#name_of_user_delete{
	font-weight: bold;
	padding: 7px 0px 0px 80px;
	color: #5CCA5C;
}
 #main_status_of_user{
 	font-weight: bold;
	color: #5CCA5C;
 }
 #name_of_user_banned{
 	font-weight: bold;
	color: #5CCA5C;
	padding: 7px 0px 0px 100px;
 }
 .button-categoty{
 	margin-top: 30px;
 }
