#faq {

	padding: 20px 100px 0;
}

.heading {
	height: 56px;
    background-color: #0490ba;
	line-height: 56px;
	vertical-align: middle;
	color: white;
	width: 100%;
}

main {
	margin: 0 0;
}

#inner-wrapper {
	padding-left: 0;
	padding-right: 0;
}

.heading h3 {
    margin:0 auto;
    line-height: 56px;
}

#faqs {
	margin-bottom: 50px;
	text-align: left;
}
#faqs h4	{ 
	cursor:pointer; 
}

#faqs h4.active	{ 
	color:#d74646; 
}

#faqs div { 
	height:0; 
	overflow:hidden; 
	position:relative; 
}

#faqs div p	{ 
	padding:0; 
	margin-bottom:15px; 
}

