.general-statistic-page {
	margin: 0;
}

.general-statistic-page #statistic {
	margin-left: -15px;
	padding: 0px 15px 20px;
}

.general-statistic-page #main-content {
	text-align: center;
    padding-left: 30px;
} 


.general-statistic-page #filtersBox {
	text-align: center;
	border-right: 1px solid #eae8e8;
	padding-bottom: 40px;
}
.general-statistic-page #filtersBox .datepicker-label {
	width: 60%;
	margin-bottom: 30px;
}

.general-statistic-page #filtersBox a {
	margin-left: 10px;
}

.general-statistic-page #pageTitle {
	margin-bottom: 15px;
	margin-top: 15px;
	color: white;
}

.general-statistic-page #pageTitleBox {
	margin-bottom: 20px;
	background-color: #0490ba;
}

.general-statistic-page .datepicker-label span i{
	float: left;
	margin-top: 8px;
}

.general-statistic-page .datepicker-label input {
	width: 150px;
	text-align: center;
}

.general-statistic-page .sort-list {
	position: relative;
	width: 60%;
	margin: 0 auto;
	padding-right: 3%;
}

.general-statistic-page .sort-list ul {
	display: inline-block;
	list-style: none;
	padding-left: 0;
}

.general-statistic-page .sort-list ul li {
	text-align: left;
	border: 1px solid #046683;
	background-color: #5bc0de;
}

.general-statistic-page .sort-list ul li:nth-child(n+2) {
	border-top: none;
}

.general-statistic-page .sort-list>span {
	font-weight: bold;
    position: relative;
    bottom: 75px;
	display: inline-block;
	right: 5%;
}

.general-statistic-page .sort-list ul li label {
	padding: 2px 35px 2px 28px;
	display: block;
	color: white;
	font-weight: 300;
	margin-bottom: 0;
}

.general-statistic-page .sort-list ul li label input {
    margin-right: 0px;
    visibility: hidden;
}

.general-statistic-page .sort-list ul li label:hover {
	text-decoration: none;
	background-color: #0490ba;
}

.general-statistic-page #gradeList {
	width: 80%;
	padding-right: 12%;
	margin-top: -20px;
	padding-bottom: 20px;
}

.general-statistic-page #gradeList ul li label {
	padding: 2px 45px 2px 28px;
	z-index: 5;
}


.general-statistic-page #statistic .row {
	padding: 0 0;
}

.general-statistic-page .hideElem {
	display: none;
}

.general-statistic-page .nav-tabs>li>a {
	padding:10px 17px;
}
