

main{
  text-align: left;
}
    
.desrpiption{
    font: 18px italic arial;     
    color: #9b9a9a;
}

.name {    
    font: 16px times new roman;
    color: #a5a1a1;
  }
.line { 
    border-left: 2px solid #ccc; 
    margin-left: 20px; 
    padding-left: 10px; 
   }

.count {
  text-align: left;
    color: #a5a1a1;
  font-family: 'Roboto Slab', serif;
    font-size: 13px;
  
  }

/*index page style end*/