html, body {
  height: 100%;
}

body {
  background-color: #eae8e8;
}

/*#outer-wrapper {
  padding-left: 0;
  min-height: 100%;
  height: auto;
  margin: 0 auto -57px;
  padding: 0 0 57px;
}
*/
#inner-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #c0bfbf;
  margin-top: 20px;
  padding: 0px;
}

#header-container {
  height: 100px;
  padding-left: 0;
  border-bottom: 1px solid #eae8e8;
}

#header-container img {
  display: inline-block;
}

#header-container a {
  display: inline-block;
}

#header-menu {
  margin: 0 auto;
}

#header-menu>ul, #footer-menu>ul {
  list-style: none;
}

#header-menu>ul>li {
  display: inline-block;
  margin-right: 60px;
}

#header-menu>ul>li>a {
  font-size: 1.5em;
  color: black;
}

/*main {
  margin: 20px 0;
  background-color: white;
  text-align: center;
}
*/
/*footer {
  height: 57px;
}
*/
/*#footer-container {
  width: 200px;
  margin: 10px auto 10px;
}
*/
/*#footer-menu {
  display: block;
}
*/
/*#footer-menu>ul {
  padding-left: 25px;
  margin-bottom: 2px;
}
*/
/*#footer-menu>ul>li {
  display: inline-block;
  margin-right: 5px;
}
*/
/*#footer-menu>ul>li>a {
  font-size: 0.8em;
}
*/
/*#footer-container>p {
  font-size: 0.8em;
  text-align: center;
}
*/

.score-number {
  font-size: 22px;
  opacity: 0.8;
  color: green;
}

.panel-title {
  color: black;
}
  .panel-title i{
    font-size: 13px;
  }
  .Testname{
    font-size: 20px;
  }
.fromtopic {
  float: left;
}

.question {
  float: left;
  margin: 20px 0px 10px 20px;
  text-align: left;
}

article {
  text-align: justify;
  margin: 50px 20px 20px 27px;
  font-family: 'Droid Serif', serif;
}

.name {
  padding: 0px;
}

.name >i {
  float: left;
}

.progress {
  margin-top: 10px;
  font-size: 10px;
  opacity: 0.8;
}

.answer {
  text-align: left;
  margin: 0px 20px 0px 38px;
}

.right-answer {
  text-align: left;
  margin: 0px 20px 30px 38px;
}

.more-about {
  text-align: left;
  margin: 10px 20px 20px 38px;

}

.blockcolor {
  background: rgba(154, 246, 126, 0.36);
  border-radius: 7px;
  margin-top: 20px;
  box-shadow: 5px 5px 4px #D0F2D2;
}

.blockcolorwrong {
  background: rgba(246, 136, 138, 0.36);
  border-radius: 7px;
  margin-top: 20px;
  box-shadow: 5px 5px 4px #F2D0D1;
}

.col-xs-12 {
  padding: 0px;
}

#answerpanel {
  margin: 0px 40px 0px 40px;
}

.progress {
  height: 10px;
  margin: 0px 10px 30px 10px;
}

.pass_again {
  margin: 20px 0px 20px 0px;
  opacity: 0.8;
}

.pass_again {
  float: bottom;
}
.name_for_test_categoty:hover, .name_for_test_subcategoty:hover{
    color: #6495ED;
    text-decoration: underline;
    cursor: pointer;
}
.questiontext{
  margin: 20px 40px 0px 0px; 
}