.subcategory-page {
  margin: 0;
}

 .subcategory-page >.container {
 	margin-left: -15px;
 }

.subcategory-page #search-panel {
  padding: 0px;
}

 .subcategory-page #tests-block ul {
 	list-style: none;
 	padding-left: 0;
 }

 .subcategory-page #tests-block h4 {
 	margin-top: 20px;
 }

 .subcategory-page #test-list {
 	padding-top: 20px;
 }

 .subcategory-page #test-list .test {
 	display:block;
	width: 86%;
  background-color: #f5f5f5;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
 }

 .subcategory-page #test-list .test:hover {
  border: solid 2px rgb(221, 219, 219);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .6);
  border-radius: 5px;
  padding: 8px 18px;
 }

 .subcategory-page #test-list .test a:hover {
     text-decoration: none;
     cursor: pointer;
 }

 .subcategory-page #test-list .test p {
  text-align: justify;
 } 


 .subcategory-page #search-sort {
  position: relative;
 	padding-top: 20px;
 }

 .subcategory-page #searchForm {
  display: inline-block;
  width: 70%;
 }

 .subcategory-page #search-sort label {
 	margin: 0 10px;
 }

  .subcategory-page #searchBox label {
  	margin-right: 0px;
    padding-top: -20px;
  }

  .subcategory-page #searchBox {
    display: inline-block;
    position: relative;
    top: 20px;
  }

  .subcategory-page #sortBox {
        display: inline-block;
    position: relative;
    bottom: 15px;
  }


   .subcategory-page #searchBox label input {
   	border-top-right-radius: 0;
   	border-bottom-right-radius: 0; 
   }

   .subcategory-page #sortBox label {
    width: 100%;
    line-height: 35px;
    vertical-align: middle;
   }

   .subcategory-page #sortBox label select {
    width: 45%;
    float: right;
   }
 
 .subcategory-page #search-sort .input-group-btn {
 	display: inline-block;
  margin-left: -4px;
  margin-bottom: 2px;

 }

 .subcategory-page .categories-block .sub-category {
 	font-size: 1.6em;
 	margin: 0 10px;
  color: white;
 }

.subcategory-page .categories-block {
  height: 56px;
  background-color: #0490ba;
  line-height: 56px;
  vertical-align: middle;
 } 

 .subcategory-page #vmilosti a, .subcategory-page  #proby a, .subcategory-page  #patrony a {
 	padding: 2px 5px;
 }

.subcategory-page #vmilosti a:hover, .subcategory-page  #proby a:hover, .subcategory-page  #patrony a:hover {
  text-decoration: none;
  background-color: #0490ba;
  color: white;
} 



.search-result {
                                border: solid 2px transparent;
                                padding: 0 19px;
                                -moz-transition: all .2s linear 0.1s;
                                /*                                transition-timing-function: steps(0.8) */
                                -webkit-transition: all .8s linear 0.1s;
                                -o-transition: all .2s linear 0.1s;
                                transition: all .2s linear 0.1s;
                            }
                            .search-result:hover {
                                border: solid 2px rgb(221, 219, 219);
                                box-shadow: 0 3px 6px rgba(0, 0, 0, .6);
                                border-radius: 5px;
                            }
                            .filter-search > div {
                                color: #5bc0de;
                                cursor: pointer;
                                /*                                border-right:solid 2px blue; ; */
                            }
                            .curent-filter {
                                font-weight: bold;
                                background: #5bc0de;
                                color: #fff;
                                border-right: solid 3px;
                            }
                            .search-tag {
                                list-style: none;
                            }
                            .search-teg li {
                                display: inline-block;
                            }
