 main>.container {
 	margin-left: -15px;
 }

 #tests-block ul {
 	list-style: none;
 	padding-left: 0;
 }

 #tests-block h4 {
 	margin-top: 20px;
 }

 #test-list {
 	padding-top: 20px;
 }

 #test-list .test {
 	display: inline-block;
	padding-bottom: 22px;
	width: 28%;
	margin: 0 2%;
 }

 #test-list .test p {
 	margin-bottom: 2px;
 }

 #search-sort {
 	padding-top: 20px;
 }

 #searchForm {
  display: inline-block;
  width: 70%;
 }

 #search-sort label {
 	margin: 0 10px;
 }

  #search-sort label:nth-child(2) {
  	margin-right: 0px;
  }

   #search-sort label:nth-child(2) input {
   	border-top-right-radius: 0;
   	border-bottom-right-radius: 0; 
   }
 
 #search-sort .input-group-btn {
 	display: inline-block;
  margin-left: -4px;
  margin-bottom: 2px;

 }

 .categories-block .sub-category {
 	font-size: 1.4em;
 	margin: 0 10px;
 }

.categories-block .category {
 	font-size: 0.8em;
 	margin: 0 10px;
 } 

 #vmilosti a, #proby a, #patrony a {
 	padding: 2px 5px;
 }

 #vmilosti a:hover, #proby a:hover, #patrony a:hover {
	text-decoration: none;
	background-color: #0490ba;
	color: white;
 }