/*testpage style start*/

/*input[type=checkbox] ~ input[type=checkbox] + label {
    color: red;
}
/* Стиль первого слайда в состоянии «выбран» 
input[type=checkbox]:checked ~ input[type=checkbox] + label { 
    border: 1px solid black;
}*/
 main {
    text-align: left;
}
.bnt-next {
    width: 200px;
}
.center {
    margin-top: 10px;
    text-align: center;
}
.pos {
    float: left;
    display: inline-block;
    margin-bottom: 70px;
    margin-right: 5px;
}
.answer-spase {
    margin-top: 5px;
}
.MyClass:before {
    content:'\2714';
    position: relative;
    right: 10px;
}
.MyClass {
    color: green;
    font-style: italic;
    position: relative;
    right: 12px;
}
.noclass {
}
.bnt-next {
    margin-top: 25px;
}
.descript {
    color: gray;
}
.alertmess {
    color:red;
    margin-bottom:5px;
}
.alertMessage{
    border: 2px solid red;
    border-radius: 4px;
    
}
/*testpage style end*/
