#faq {
	margin-left: -15px;
	padding: 0 100px;
}
.question-answer {
	text-align: left;
	margin-bottom: 30px;
	padding: 7px;
	border: 1px solid #eae8e8;
	border-radius: 7px;
	background-color: #eae8e8;
}

#contentTable {
	margin-bottom: 50px;
}
.send{
	opacity: 0.7;
}
.sendbutton{
	margin-top: 10px;
}
.user{
	color: #4FDC8C;
	border-radius: 2px;
	font-family: Arial;
	
}
.text{
	padding: 5px;
}
textarea{
	resize:none;
}
.moderator{
	color:#F0616B;
}
.data{
	margin: 40px 0px 40px 0px;
}
.localization{
	margin:40px 0px 40px 0px;
	opacity: 0.2;
}