body {
	background-color: #eae8e8
}

#wrapper {
	margin-top: 20px;
	background-color: white;
	box-shadow: 0 0 10px #c0bfbf; 

}


#header-container {
	height: 100px;
	padding-left: 0;
	border-bottom:1px solid #eae8e8;
}

#header-container a {
	display: inline-block;
} 

#header-menu {
	display: inline-block;
	margin-left: 10%;
}

#header-menu>ul, #footer-menu>ul {
	list-style: none;
}

#header-menu>ul>li {
	display: inline-block;
	margin-right: 60px; 
}

#header-menu>ul>li>a {
	font-size: 1.5em;
	color: black;
}

#footer-container {
    width: 200px;
    margin: 20px auto;
}

#footer-menu {
    display: block;
}

#footer-menu>ul {
	padding-left: 25px;
	margin-bottom: 2px;
}

#footer-menu>ul>li {
	display: inline-block;
	margin-right: 5px;
}

#footer-menu>ul>li>a {
	font-size: 0.8em;
}

#footer-container>p {
	font-size: 0.8em;
	text-align: center;
}
/* mine changes*/ 
#maincontent{
	margin-top:20px;
	margin-bottom:30px;
}
#maincontent a:link, a:visited, a:hover, a:active {
  text-decoration: underline;}
  
.subkategory{
	margin-top:3px;
	margin-left: 10px;
}
.colom{
	margin-left: 55px;
}
.test{
	margin-top: 8px;
	margin-bottom: 40px;
}
.test a{
	padding-left:4px;
}
.author{
	font-size: 11.5px;
}
