

html, body{
	height: 100%;
}

body {
	background-color: #eae8e8
}

body>#outer-wrapper{
    height: 100%;
}

#outer-wrapper {
	padding-left: 0;
	min-height: 100%;
    height: 100%;
    height: auto !important;
    margin: 0 auto -57px;
    padding: 0 0 57px;

}

#inner-wrapper {
    background-color: white;
	box-shadow: 0 0 10px #c0bfbf; 
	margin-top: 20px;
}

#header-container {
	height: 87px;
	padding-left: 0;
	border-bottom:1px solid #eae8e8;
  margin-right: 8%;
}


#header-container a img{
 margin-top: 2%;
  float: left;
} 

#header-menu {	
    padding: 0px 0px 0px 25%;
	margin:auto;
}

#header-menu>ul{
  width: 100%;
    margin-top:4%;
}


#header-menu>ul>li {
 display: table-cell;
 float: none;
 position: relative;
 width: 40%;
}

#header-menu>ul>li>a {
	font-size: 1.5em;
	color: black;
}

main {
	margin: 0px 0;
	background-color: white;
}

footer {
	height: 57px;
}

#footer-container {
    width: 200px;
    margin: 10px auto 10px;
}

#footer-menu {
    display: block;
}

#footer-menu>ul {
	padding-left: 25px;
	margin-bottom: 2px;
}

#footer-menu>ul>li {
	display: inline-block;
	margin-right: 5px;
}

#footer-menu>ul>li>a {
	font-size: 0.8em;
}

#footer-container>p {
	font-size: 0.8em;
	text-align: center;
}
/*index page style start*/;
    
.desrpiption{
    font: 18px italic arial;     
    color: #9b9a9a;
}

.name {    
    font: 16px times new roman;
    color: #a5a1a1;
  }
.line { 
    border-left: 2px solid #ccc; 
    margin-left: 20px; 
    padding-left: 10px; 
   }

.count {
    color: #a5a1a1;
  font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

/*index page style end*/

/*testpage style start*/


.bnt-next {
  width: 200px;  
}

.center{
  margin-top: 10px;
  text-align: center;
}

  
input[type=checkbox]:checked + label {
  color: #3276B1;
  font-style: italic;
  text-decoration: underline;
}

input[type=checkbox] + label {
  margin-left: 3px;
}
.pos{
    float: left;
    display: inline-block;
    margin-bottom: 70px;
    margin-right: 5px;
}

.answer-spase{
 margin-top: 5px;
}

/*testpage style end*/

.head{
    color: #3276B1;
    text-align: center;
    font: 25px arial;
}

#graph{
   display: none;
}

#show>input[type=checkbox]:checked + #graph{
    display: inline;
}
#show{
    display: inline-block;
    float: right;
}

#result{
    display: inline-block;
    font: 25px arial ;
    margin:15px 10px;
}

input[type=date]{
height: 25px;
width: 155px;
}
#subcategory{
    display: inline-block;
    margin: 15px 10px;
    font: 17px arial;
    color: #000;
}
.graphic>img{
    margin: 10px;
    display: none;
}
#subcategory>input[type=checkbox]{
    margin-left: 5px;
}

input[type=checkbox]:checked+.graphic>img{
    display: inline-block;     
}

.ava{
  display: inline-block;
  float: left;
  margin:0 10px;
}

#field{
  display: inline-block;
  margin: 10px 5px;
}
#field1, #field2{
  display: inline-block;
  font: 17px arial;
  color: #000;
}
#field1{
 
  background-color: #bbb;
  display: inline-block;
  height: 25px;
  padding:3px 5px 3px 10px;
}
#field2{
  
  display: inline-block;
  height: 25px;
  padding:3px 3px;
}
.head1{
  color: #3276B1;
    text-align: center;
    font: 25px arial;
    margin-bottom: 20px;
}
.btn{
  margin: auto;
}