html. body {
	margin:0;
	}
body {
	position: relative;
	}

	#content-container {
		margin-left: -15px;
		height: 400px;
	}

	#registration-info {
		margin-bottom: 90px;
	}

	#login-button {
 		float: right;
	}

    .modal-body form {
    	width: 400px;
    	margin-top: 25px;
    }

/*     .modal-body {
	padding-top: 25px;
} */

    #inputEmail3, #inputPassword3 {
    	width: 200px;
    	margin-left: 15px;
    }

    .modal-body form .checkbox {
    	width: 120px;
    	margin-left: 25px;
    }

    .modal-body .form-horizontal {
    	margin: 0 auto;
    }

    #signin-form .form-group {
    	margin-left: 50px; 
    }
